@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@100;300;400;700;900&family=Libre+Franklin:ital,wght@0,400;0,600;1,400;1,600&family=Questrial&display=swap');

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Questrial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Caveat', sans-serif;
}

/* For Chrome and Edge */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--header-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--special-color);
    border-radius: 3px;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--special-color) var(--header-background-color);
}
