.portfolio-body {
    width: 100%;
    margin-top: 40px;
}

.portfolio-body-content {
    padding: 40px 100px 40px;
}

.portfolio-body-content-title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 35px;
    color: var(--special-color);
}

.portfolio-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.portfolio-card {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--header-background-color);
    border-radius: 7px;
    overflow: hidden;
}

.portfolio-card-image {
    width: 100%;
    height: 320px;
}

.portfolio-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-card-body {
    padding: 24px 15px;
}

.portfolio-card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.portfolio-card-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 20px;
}

.portfolio-card-skills img {
    height: 100%;
    filter: invert(1);
}

@media screen and (max-width: 1024px) {
    .portfolio-body-content-title {
        font-size: 45px;
    }

    .portfolio-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and  (max-width: 768px) {
    .portfolio-body-content {
        padding: 0 20px;
    }

    .portfolio-body-content-title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .portfolio-cards {
        grid-template-columns: 1fr;
    }

    .portfolio-card-image {
        width: 100%;
        height: 150px;
    }
}